*{
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1100px;
}

h1{
    text-align: center;
    font-weight: bolder;
}

.container{
    display: flex;
    flex-wrap: wrap; 
    max-width: 400px;
    border: 15px ;
}

.grid-item{
    display: flex;
    align-self: flex-end;
    width: 30px;
    height: 30px;
    background-color: #808080;
}

.func-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}